/*  Glass Effect Login Page - Blue */

position: absolute;
width: 1366px;
height: 780px;
left: calc(50% - 1366px/2 - 57px);
top: calc(50% - 780px/2 + 47.19px);

background: radial-gradient(58.43% 103.88% at 56.74% 50%, #0085FF 0%, #003465 100%);
box-shadow: 355px 556px 264px rgba(0, 0, 0, 0.01), 200px 312px 223px rgba(0, 0, 0, 0.05), 89px 139px 165px rgba(0, 0, 0, 0.09), 22px 35px 91px rgba(0, 0, 0, 0.1);
border-radius: 24px;
